/* Navbar.css */

.navbar {
    background-color: #343a40; /* Dark grey background color */
  }
  
  .navbar-brand {
    font-size: 2rem;
    color: #fff; /* White text color */
  }
  
  .navbar-toggler-icon {
    color: #fff; /* White color for the toggler icon */
  }
  
  .nav-link {
    color: #000000; /* White text color for links */
    font-size: 23px;
    margin: 0px 4px;
  }
  
  .nav-link:hover {
    color: #fff; /* White text color on hover */
  }
  img{
    width: 6rem;
    height: 4rem;
    margin-left: 2rem;
    /* background-color: white; */
  }


  