/* Navbar.css */

.navbar {
    background-color: #343a40; /* Dark grey background color */
  }
  
  .navbar-brand {
    /* font-size: 2rem; */
    color: #fff; /* White text color */
  }

  .container-fluid{
    height: 3rem;
  }
  
  .navbar-toggler-icon {
    color: #fff; /* White color for the toggler icon */
  }
  
  .nav-link {
    color: #000000; /* White text color for links */
    font-size: 19px;
    margin: 0px 4px;
  }
  
  .nav-link:hover {
    color: #fff; /* White text color on hover */
  }
  img{
    width: 4rem;
    height: 3rem;
    margin-left: 2rem;
    /* background-color: white; */
  }


  