.parentCard{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.childCard{
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    margin-top: 2rem;
    justify-content: center;
}